{% extends "layout.html" %}
{% block title %} - Open data{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Open</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title">
                <h1>Open There 'n Then</h1>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="section-title">
                            <h3># TnTs</h3>
                        </div>
                        <h4><figure>{{ items_count }} items</figure></h4>
                        <p>Number of TnT items, accross all the users and all the maps.</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="section-title">
                            <h3>Max # TnTs for a user</h3>
                        </div>
                        <h4><figure>{{ items_max }} items</figure></h4>
                        <p>The biggest count of TnT items for a user.</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="section-title">
                            <h3># users</h3>
                        </div>
                        <h4><figure>{{ users_count }} users</figure></h4>
                        <p>Number of active user accounts.</p>
                    </div>
                </div>
            </section>
            </div>
            <!--end row-->
        </div>

{% endblock %}
