{% extends "layout.html" %}
{% block title %}
    {% if user.username == constraintAuthor %} - My map{% else %} - Public map{% endif %}
{% endblock %}
{% block body %}
        <div class="hero-section full-screen has-map has-sidebar">
            <div class="map-wrapper">
                <div class="geo-location">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="map" id="map-homepage"></div>
            </div>
            <!--end map-wrapper-->
            <div class="results-wrapper">
                <div class="form search-form inputs-underline">
                    <form method="POST">
                        <div class="section-title">
                            <h2>Search</h2>
                        </div>
                        <div class="form-group">
                            {{ searchform.place(class="form-control", placeholder="Place") }}
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <input name="event_start" id="event_start" type="hidden" value="{{ event_start }}">
                            <input name="event_end" id="event_end" type="hidden" value="{{ event_end }}">
                            <input type="text" class="form-control" name="daterangepicker">
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            {{ searchform.keyword(class="form-control", placeholder="Keyword") }}
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <input class="form-control" data-role="tagsinput" name="tags" id="input-tags", placeholder="Tags", type="text">
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <button type="submit" data-ajax-response="map" data-ajax-data-file="{{ url_for('tntitem.search_items') }}" data-ajax-auto-zoom="1" class="btn btn-primary pull-right"><i class="fa fa-search"></i></button>
                        </div>
                        <!--end form-group-->
                    </form>
                    <!--end form-hero-->
                </div>
                <div class="results">
                    <div class="tse-scrollable">
                        <div class="tse-content">
                            <div class="section-title">
                                <h2>Search Results<span class="results-number"></span></h2>
                            </div>
                            <!--end section-title-->
                            <div class="results-content"></div>
                            <!--end results-content-->
                        </div>
                        <!--end tse-content-->
                    </div>
                    <!--end tse-scrollable-->
                </div>
                <!--end results-->
            </div>
            <!--end results-wrapper-->
        </div>
        <!--end hero-section-->

{% endblock %}
