{% extends "layout.html" %}
{% block title %} - My TnTs{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Items list</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title">
                <h1>My TnTs</h1>
            </section>
            <!--end page-title-->
            {% if session.instagram_sync_task_id %}
            <section>
                <div class="my-item">
                    <div class="description">
                        <div class="vertical-aligned-elements">
                            <div class="element width-30">
                                <h3><i class="fa fa-refresh"></i> Current Instagram sync</h3>
                            </div>
                            <div class="element">
                                <div class="" id="last_instasync"></div>
                            </div>
                        </div>
                    </div>
                    <!--end description-->
                </div>
            </section>
            <!--end last sync-->
            {% endif %}
            {% if session.unsplash_sync_task_id %}
            <section>
                <div class="my-item">
                    <div class="description">
                        <div class="vertical-aligned-elements">
                            <div class="element width-30">
                                <h3><i class="fa fa-refresh"></i> Current Unsplash sync</h3>
                            </div>
                            <div class="element">
                                <div class="" id="last_unsplasync"></div>
                            </div>
                        </div>
                    </div>
                    <!--end description-->
                </div>
            </section>
            <!--end last sync-->
            {% endif %}
            <section>
                <div class="my-items table-responsive">
                    <table class="table">
                        <tbody>
                        {% for item in items %}
                        <tr class="my-item">
                            <td>
                                <div class="image-wrapper">
                                    <a href="#" data-modal-external-file="{{ url_for('tntitem.show_modal_item', id=item._id) }}" data-target="modal-item" class="image">
                                        <div class="bg-transfer">
                                            <img src="{{ item.data.images }}">
                                        </div>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#" data-modal-external-file="{{ url_for('tntitem.show_modal_item', id=item._id) }}" data-target="modal-item"><h2>{{ item.data.title }}</h2></a>
                                    <figure class="location">location: {{ item.data.location }}</figure>
                                </div>
                                <!--end info-->
                            </td>
                            <td class="last-edited">
                                <span class="last-edit">Start: {{ item.time.start | cdate }} / End: {{ item.time.end | cdate }}</span>
                                <div class="edit-options">
                                    <a href="#" data-modal-external-file="{{ url_for('tntitem.edit_item', iditem=item._id) }}" data-target="modal-edit" class="link icon"><i class="fa fa-edit"></i>Edit</a>
                                    <a href="#" data-modal-external-file="{{ url_for('tntitem.delete_modal', iditem=item._id) }}" data-target="modal-delete" class="link icon delete"><i class="fa fa-trash"></i>Delete</a>
                                </div>
                                <!--end edit-options-->
                            </td>
                        </tr>
                        <!--end my-item-->
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--end my-items-->
            </section>
            <section>
                <div class="center">
                    <nav aria-label="Page navigation">
                        {% set previous_page = current_page|int - 1 %}
                        {% set next_page = current_page|int + 1 %}
                        <ul class="pagination">
                            {% if previous_page < 1 %}
                            <li class="disabled previous">
                                <a href="" aria-label="Previous">
                            {% else %}
                            <li class="previous">
                                <a href="{{ url_for('tntitem.show_items', page=previous_page) }}" aria-label="Previous">
                            {% endif %}
                                    <i class="arrow_left"></i>
                                </a>
                            </li>
                        {% for i in range(1, (max_page+1)|int) %}
                            {% if i == current_page|int %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            <a href="{{ url_for('tntitem.show_items', page=i) }}">{{ i }}</a></li>
                        {% endfor %}
                            {% if next_page > max_page|int %}
                            <li class="disabled next">
                                <a href="" aria-label="Next">
                            {% else %}
                            <li class="next">
                                <a href="{{ url_for('tntitem.show_items', page=next_page) }}" aria-label="Next">
                            {% endif %}
                                    <i class="arrow_right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
        <!--end container-->
{% endblock %}
