<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<div class="modal-item-detail modal-dialog" role="document" data-latitude="{{ form.latitude.data }}" data-longitude="{{ form.longitude.data }}" data-address="{{ form.location.data }}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zabuto_calendar/1.2.1/zabuto_calendar.min.css" type="text/css">
    <div class="modal-content">
        <form id="itemedit" class="form inputs-underline itemedit" enctype="multipart/form-data" method="POST" action="{{ url_for('tntitem.edit_item', iditem=iditem) }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="section-title">
                <h2>Title</h2>
                <div class="form-group">
                    {{ form.title(class="form-control", placeholder="Title") }}
                </div>
            </div>
            <!--end section-title-->
        </div>
        <!--end modal-header-->
        <div class="modal-body">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form.instagram_id(class="form-control") }}
                {{ form.unsplash_id(class="form-control") }}
                {{ form.original_url(class="form-control") }}
                {{ form.latitude(class="form-control") }}
                {{ form.longitude(class="form-control") }}

                <section>
                    <h3>Gallery</h3>
                    <div class="file-uploaded-images">
                        {% for image in form.images.data %}
                        <div class="image">
                            <!-- <figure><i class="fa fa-close" data-role="remove"></i></figure> -->
                            <img src="{{ image }}" alt="">
                            <input class="form-control" type="hidden" name="images-item[]" value="{{ image }}">
                        </div>
                        {% endfor %}
                        <input type="hidden" class="form-control" id="images" name="images">
                    </div>
                    <!--end form-group-->
                </section>
                <section>
                    <h3>Location</h3>
                    <div class="form-group">{{ form.location(class="form-control") }}</div>
                    <div class="map" id="map-modal"></div>
                    <!--end map-->
                </section>
                <!--end map-->
                <section>
                    <h3>Time</h3>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <div id="event_start_message"></div>
                            <input type="text" class="form-control date-picker" id="event_start" name="event_start" placeholder="Start Date" data-date-format="yyyy-mm-dd" value="{{ form.event_start.data | cdate }}">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="event_end_message"></div>
                            <input type="text" class="form-control date-picker" id="event_end" name="event_end" placeholder="End Date" data-date-format="yyyy-mm-dd" value="{{ form.event_end.data | cdate }}">
                        </div>
                    </div>
                </section>
                <!--end time-->
                <section>
                    <h3>Description</h3>
                    <div class="form-group">
                        {{ form.body(class="form-control") }}
                    </div>
                    <!--end form-group-->
                </section>
                <!--end description-->

                <section>
                    <h3>Tags</h3>
                    <div class="form-group">
                        <input class="form-control" data-role="tagsinput" name="tags" id="input-tags" value="{{ item.data.tags|join(', ') }}">
                        <script type="text/javascript">
                            $('#input-tags').selectize({
                                plugins: ['remove_button'],
                                persist: false,
                                createOnBlur: false,
                                valueField: 'tag',
                                labelField: 'tag',
                                searchField: ['tag'],
                                create: function(input, callback){
                                    $.ajax({
                                        url: "{{ url_for('tnttag.add_tag') }}",
                                        method: 'GET',
                                        dataType: 'json',
                                        data: { tag: input },
                                        error: function() {
                                            callback();
                                        },
                                        success: function (response) {
                                            return callback(response);
                                        }
                                    });
                                },
                                render: {
                                    option: function (item, escape) {
                                        return '<div>' + escape(item.tag) + '</div>';
                                    }
                                },
                                load: function(query, callback) {
                                    if (!query.length) return callback();
                                    $.ajax({
                                        url: "{{ url_for('tnttag.search_tags') }}",
                                        type: 'GET',
                                        dataType: 'json',
                                        data: {
                                            tag: query,
                                        },
                                        error: function() {
                                            callback();
                                        },
                                        success: function(res) {
                                            callback(res);
                                        }
                                    });
                                },
                            });
                        </script>
                    </div>
                    <!--end form-group-->
                </section>
                <!--end tags-->
<!-- 
                <section>
                    <h3>Comments</h3>
                    {% for comment in item.comments %}
                    <div class="review">
                        <div class="description">
                            <figure>
                                <span class="date"><i class="fa fa-user"></i>&nbsp;{{ comment.author }} | {{ comment.date | ctime }}</span>
                            </figure>
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </section>
-->
                <hr>
                <section class="center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-rounded" id="edit_button">Submit</button>
                    </div>
                    <!--end form-group-->
                </section>
        </div>
        <!--end modal-body-->
        </form>
        <!--end form-->
        <script type="text/javascript">
            $( "#itemedit" ).submit(function( event ) {
                var ts_start = new Date(document.getElementById('event_start').value).getTime()/1000;
                var ts_end = new Date(document.getElementById('event_end').value).getTime()/1000;

                if (isNaN(ts_start) || isNaN(ts_end)) {
                    if (isNaN(ts_start)) {
                        $('#event_start_message').html('<div class="alert alert-danger">Error with date</div>');
                    } else {
                        $('#event_start_message').html('');
                    }
                    if (isNaN(ts_end)) {
                        $('#event_end_message').html('<div class="alert alert-danger">Error with date</div>');
                    } else {
                        $('#event_end_message').html('');
                    }
                    event.preventDefault();
                } else {
                    document.getElementById('event_start').value = ts_start;
                    document.getElementById('event_end').value = ts_end;
                }

                var values = $('input[name="images-item[]"]').map(function(){
                   return this.value;
                }).get();
                document.getElementById('images').value = values;
            });
        </script>
    </div>
    <!--end modal-content-->
</div>
<!--end modal-dialog-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
