{% for item in items %}
<div class="modal-item-detail modal-dialog" role="document" data-latitude="{{ item.latitude }}" data-longitude="{{ item.longitude }}" data-address="{{ item.location }}">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="section-title">
                <h2>{{ item.title }}</h2>
            </div>
            <!--end section-title-->
        </div>
        <!--end modal-header-->
        <div class="modal-body">
            <div class="left">
                <div class="gallery owl-carousel" data-owl-nav="1" data-owl-dots="0">
                {% for image in item.gallery %}
                    <img src="{{ image }}" alt="">
                {% endfor %}
                </div>
                <!--end gallery-->

                <div class="map" id="map-modal"></div>
                <!--end map-->

                <section>
                <h3>Contact</h3>
                    <h5><i class="fa fa-map-marker"></i>{{ item.location }}</h5>
                    <h5><i class="fa fa-user"></i><a href="{{ url_for('tntmap.show_map', username=item.author_username)| replace('%40', '@') }}">{{ item.author_name }}</a></h5>
                    <h5><i class="fa fa-calendar"></i>{{ item.time.start | ctime }} - {{ item.time.end | ctime }}</h5>
                </section>
                <section>
                    <h3>Social Share</h3>
                    <div class="social-share"></div>
                </section>
            </div>
            <!--end left -->
            <div class="right">
                <section>
                    <h3>About</h3>
                    <div class="read-more"><p>{{ item.description }}</p></div>
                </section>
                <!--end about-->
                {% if item.original_url %}
                <section>
                    <h3>Original content</h3>
                    <div><p>{{ item.original_url|safe }}</p></div>
                </section>
                <!--end original content-->
                {% endif %}

                <section>
                    <h3>Tags</h3>
                    <ul class="tags">
                    {% for tag in item.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                    </ul>
                </section>
                <!--end tags-->

                <section>
                    <h3>Comments</h3>
                    <div class="review" id="comment_list">
                    {% for comment in item.comments %}
                        <div class="description">
                            <figure>
                                <span class="date"><i class="fa {% if comment.source == "instagram" %}fa-instagram{% else %}fa-user{% endif %}"></i>&nbsp;{{ comment.author }} | {{ comment.date | ctime }}</span>
                            </figure>
                            <p>{{ comment.text|safe }}</p>
                        </div>
                    {% endfor %}
                    </div>
                    <!--end review-->
                </section>
                <!--end reviews-->
                <section>
                    <form id="add_comment">
                        <div class="form-group">
                            <textarea class="form-control" id="comment_text" name="comment_text"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-rounded" id="comment_button">Comment</button>
                    </form>
                    <script type="text/javascript">
                        Date.prototype.yyyymmdd = function() {
                          var mm = this.getMonth() + 1; // getMonth() is zero-based
                          var dd = this.getDate();

                          var formatted = [this.getFullYear(),
                                  (mm>9 ? '' : '0') + mm,
                                  (dd>9 ? '' : '0') + dd
                                 ].join('-') +' '+ this.getHours() +':'+ this.getMinutes();

                          return formatted;
                        };

                        $( "#add_comment" ).submit(function( event ) {
                            event.preventDefault();
                            var curdate = Math.round(new Date().getTime()/1000);
                            var comment_text = document.getElementById('comment_text').value;

                            $.ajax({
                                url: "{{ url_for('tntitem.add_comment') }}",
                                method: 'GET',
                                dataType: 'json',
                                data: {
                                    item: '{{ item.id }}',
                                    text: comment_text,
                                    curdate: curdate
                                },
                                error: function() {
                                    console.log('issue while submiting the comment');
                                    callback();
                                },
                                success: function (response) {
                                    document.getElementById('comment_text').value = "";
                                    var div = document.getElementById('comment_list');
                                    div.innerHTML = '<div id="new_comment" class="description"><figure><span class="date"><i class="fa fa-user"></i>&nbsp;{{ user.full_name }} | '+ new Date(+curdate*1000).yyyymmdd() +'</span></figure><p>'+ comment_text +'</p></div>' + div.innerHTML;
                                    $("#new_comment").effect("highlight", {color: '#26a65b'}, 3000);
                                }
                            });

                        });
                    </script>
                </section>
                <!--end reviews-->
            </div>
            <!--end right-->
        </div>
        <!--end modal-body-->
    </div>
    <!--end modal-content-->
</div>
<!--end modal-dialog-->
{% endfor %}