<div class="modal-dialog width-400px" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="section-title">
                <h2>Delete item</h2>
            </div>
        </div>
        <div class="modal-body">
            <form class="form" method="POST" action="{{ url_for('tntitem.delete_item') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form.iditem() }}
                <div class="form-group">
                    <h3>Warning: are you sure you want to delete {{ title }}?</h3>
                </div>
                <div class="form-group center">
                    <button type="submit" class="btn btn-primary width-100">Sure!</button>
                </div>
                <!--end form-group-->
            </form>
            <!--end form-->
        </div>
        <!--end modal-body-->
    </div>
    <!--end modal-content-->
</div>
<!--end modal-dialog-->