{% for item in items %}
<div class="result-item" data-id="{{ item.id }}">
    <a href="{{ url_for('tntitem.show_modal_item', id=item.id) }}">
        <h3>{{ item.title }}</h3>
        <div class="result-item-detail">
            <div class="image" style="background-image: url('{{ item.marker_image }}')">
            </div>
            <div class="description">
                <h5><i class="fa fa-map-marker"></i>{{ item.location }}</h5>
                <h5><i class="fa fa-user"></i>{{ item.author_name }}</h5>
                <p>{{ item.description }}</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}