<p>Welcome and thanks for creating an account at There 'n Then!</p>
<br>
<p>Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>To let us know if you have any issues, suggestions or feature request, please use : hello@therenthen.co</p>
<br>
<p>See you on the maps,</p>
<p>The Flying Trout</p>
