<p>Hi {{ full_name }},</p>
<br>
<p>We just finished to delete the {{ count_items }} items of your account, and the {{ count_items_comments }} corresponding comments, as well as the {{ count_user_comments }} comments you made on our site.</p>
<br>
<p>To let us know if you have any issues, suggestions or feature request, please use : hello@therenthen.co</p>
<br>
<p>Hope we'll see you in the future,</p>
<p>The Flying Trout</p>
