<div class="modal-dialog width-400px" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="section-title">
                <h2>Missing username</h2>
            </div>
        </div>
        <div class="modal-body">
            <p>You need to have your username set before you can use a link to your map.</p>
            <a href="{{ url_for('tntuser.profile') }}" class="btn btn-primary width-100" role="button">Let's go yo my profile</a>
        </div>
        <!--end modal-body-->
    </div>
    <!--end modal-content-->
</div>
<!--end modal-dialog-->