<div class="modal-dialog width-400px" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="section-title">
                <h2>Delete your account</h2>
            </div>
        </div>
        <div class="modal-body">
            <form class="form" method="POST" action="{{ url_for('tntuser.delete_user') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form.uuid() }}
                <div class="form-group">
                    <h3>We're sorry to see you leave, but we respect your choice.</h3>
                    <p>You are about to remove <span class="font-color-red">every</span> trace of you on this site, and there is <span class="font-color-red">no turning back</span>. Are you sure you want to <span class="font-color-red">permanently</span> delete your account?</p>
                </div>
                <div class="form-group center">
                    <button type="submit" class="btn btn-primary width-100">Sure!</button>
                </div>
                <!--end form-group-->
            </form>
            <!--end form-->
        </div>
        <!--end modal-body-->
    </div>
    <!--end modal-content-->
</div>
<!--end modal-dialog-->