{% extends "layout.html" %}
{% block title %} - My profile{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Profile</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title center">
                <h1>Your Profile</h1>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <form class="form inputs-underline" method="POST" action="{{ url_for('tntuser.profile') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <section>
                                <div class="user-details box">
                                    <figure class="ribbon">{{ user.items_count }} TnTs</figure>
                                    <div class="user-image">
                                        <div class="image">
                                            <div class="bg-transfer"><img src="{{ user.email | gravatar }}" alt=""></div>
                                            <!--end bg-transfer-->
                                        </div>
                                        <!--end image-->

                                    </div>
                                    <!--end user-image-->
                                    <div class="description clearfix">
                                        <div class="form-group">
                                            {{ form.username.label }}
                                            {{ form.username(class="form-control", placeholder="Username") }}
                                            {% if error.username %}
                                            <div class="alert alert-danger" role="alert">
                                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                              <span class="sr-only">Error:</span>
                                              {{ error.username|join('<br>') }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <figure>
                                            <div class="pull-left"><strong>Member since</strong></div>
                                            <div class="pull-right">{{ user.created_at.strftime('%d/%m/%Y') }}</div>
                                        </figure>
                                    </div>
                                    <!--end description-->
                                </div>
                            </section>
                            <!--end user-details-->
                            <section>
                                <h3>About You</h3>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            {{ form.email.label }}
                                            {{ form.email(class="form-control", placeholder="Email") }}
                                            {% if error.email %}
                                            <div class="alert alert-danger" role="alert">
                                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                              <span class="sr-only">Error:</span>
                                              {{ error.email|join('<br>') }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-12-->
                                </div>
                                <!--end row-->
                            </section>
                            <section>
                                <h3>Your Social Networks</h3>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            {% if user.is_instagram %}
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" class="form-control" name="instragram" id="instragram" value="Connected in as {{ user.insta_user }}" readonly>
                                            </div>
                                            <!--end col-md-6-->
                                            <div class="col-md-3 col-sm-3">
                                                <a href="{{ url_for('tntitem.instagram_sync') }}" class="btn btn-primary btn-small btn-rounded" onclick="clickAndDisable(this);" id="instagram_refresh"><i class="fa fa-refresh"></i><span></span></a>
                                                <a href="{{ url_for('tntuser.instagram_disconnect') }}" class="btn btn-primary btn-small btn-rounded" onclick="clickAndDisable(this);" id="instagram_disconnect"><i class="fa fa-times"></i><span></span></a>
                                            </div>
                                            <!--end col-md-3-->
                                            {% else %}
                                            <label for="instagram">Instragram</label>
                                            <div class="pull-right"><a href="{{ url_for('tntuser.instagram_connect') }}" id="instagram_connect" class="link font-color-dark"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
                                            {% endif %}
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-12-->
                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            {% if user.is_unsplash %}
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" class="form-control" name="unsplash" id="unsplash" value="Connected in as {{ user.unsplash_user }}" readonly>
                                            </div>
                                            <!--end col-md-6-->
                                            <div class="col-md-6 col-sm-6">
                                                <a href="{{ url_for('tntitem.unsplash_sync') }}" class="btn btn-primary btn-small btn-rounded" onclick="clickAndDisable(this);" id="unsplash_refresh"><i class="fa fa-refresh"></i><span></span></a>
                                                <a href="{{ url_for('tntuser.unsplash_disconnect') }}" class="btn btn-primary btn-small btn-rounded" onclick="clickAndDisable(this);" id="unsplash_disconnect"><i class="fa fa-times"></i><span></span></a>
                                            </div>
                                            <!--end col-md-3-->
                                            {% else %}
                                            <label for="instagram">Unsplash</label>
                                            <div class="pull-right"><a href="{{ url_for('tntuser.unsplash_connect') }}" id="unsplash_connect" class="link font-color-dark"><i class="fa fa-camera fa-2x" aria-hidden="true"></i></a></div>
                                            {% endif %}
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-12-->
                                </div>
                                <!--end row-->
                            </section>
                            <section class="center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-rounded">Save Changes</button>
                                </div>
                                <!--end form-group-->
                            </section>
                            <section class="center">
                                <div><a href="{{ url_for('tntuser.profile') }}" class="link" id="restartTour">Restart the tour</a></div>
                            </section>
                        </form>
                        <!--end form-->
                        <hr>
                    </div>
                    <!--end col-md-6-->
                </div>
                <!--end row-->
            </section>
            <section>
                <section>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                            <h3 class="center">Change Your Password</h3>
                            <form id="reset_password" class="form inputs-underline" method="POST" action="{{ url_for('tntuser.change_password') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    {{ form_reset.current_password.label }}
                                    <input class="form-control" id="current_password" name="current_password" type="password" value="" required>
                                    {% if error_reset.current_password %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                      {{ error_reset.current_password|join('<br>') }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    {{ form_reset.new_password.label }}
                                    <input class="form-control" id="new_password" name="new_password" type="password" value="" required>
                                    {% if error_reset.new_password %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                      {{ error_reset.new_password|join('<br>') }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    {{ form_reset.confirm_new_password.label }}
                                    <input class="form-control" id="confirm_new_password" name="confirm_new_password" type="password" value="" required>
                                    {% if error_reset.confirm_new_password %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                      {{ error_reset.confirm_new_password|join('<br>') }}
                                    </div>
                                    {% endif %}
                                </div>
                                <!--end form-group-->
                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-framed btn-rounded btn-light-frame">Change Password</button>
                                </div>
                                <!--end form-group-->
                            </form>
                        </div>
                    </div>
                </section>
            </section>
            <section>
                <section class="center">
                    <div><a href="#" data-modal-external-file="{{ url_for('tntuser.delete_modal') }}" data-target="modal-delete-user" class="link font-color-red">Remove account</a></div>
                </section>

            </section>
        </div>
        <!--end container-->
{% endblock %}
