{% extends "layout.html" %}
{% block title %} - Register{% endblock %}
{% block body %}
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Register</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Register</h1>
                    </section>
                    <!--end page-title-->
                    <section>
                        <form class="form inputs-underline" method="POST" action="{{ url_for('tntuser.register') }}" id="registration_form">
                            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <div class="form-group">
                                {{ form.email.label }}
                                {{ form.email(class="form-control") }}
                                {% if error.email %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ error.email|join('<br>') }}
                                </div>
                                {% endif %}
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                {{ form.password.label }}
                                {{ form.password(class="form-control") }}
                                {% if error.password %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ error.password|join('<br>') }}
                                </div>
                                {% endif %}
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                {{ form.confirm_password.label }}
                                {{ form.confirm_password(class="form-control") }}
                                {% if error.confirm_password %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ error.confirm_password|join('<br>') }}
                                </div>
                                {% endif %}
                            </div>
                            <!--end form-group-->
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary width-100">Register Now</button>
                            </div>
                            <!--end form-group-->
                        </form>
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
{% endblock %}
