{% extends "layout.html" %}
{% block title %} - Sign in{% endblock %}
{% block body %}
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Login</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Login</h1>
                    </section>
                    <!--end page-title-->
                    <section>
                        <form class="form inputs-underline" method="POST" action="{{ url_for('tntuser.login') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-group">
                                {{ form.email.label }}
                                {{ form.email(class="form-control", placeholder="Your email") }}
                                {% if error.email %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ error.email|join('<br>') }}
                                </div>
                                {% endif %}
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                {{ form.password.label }}
                                {{ form.password(class="form-control", placeholder="Your password") }}
                                {% if error.password %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ error.password|join('<br>') }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary width-100">Sign In</button>
                            </div>
                            <!--end form-group-->
                        </form>

                        <hr>

                        <a href="#" data-modal-external-file="{{ url_for('tntuser.reset_password') }}" data-target="modal-reset-password">I have forgot my password</a>
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
{% endblock %}
