{% extends "layout.html" %}
{% block title %} - Contact{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Contact</li>
            </ol>
            <section class="page-title">
                <h1 class="pull-left">Contact</h1>
            </section>
            <!--end section-title-->
        </div>
        <!--end container-->
        <section class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h3>Contact Information</h3>
                        <div class="box">
                            <address>
                                <figure>Carrefully handcrafted by</figure>
                                <strong>The Flying Trout</strong>
                                <br>
                                <br>
                                <strong>Email</strong>
                                <figure><a href="mailto:hello@therenthen.co">hello@therenthen.co</a></figure>
                            </address>
                        </div>
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-9 col-sm-9">
                        <h3>Form</h3>
                        <form class="form form-email inputs-underline" id="form-hero" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        {{ form.name.label }}
                                        {{ form.name(class="form-control", placeholder="Name") }}
                                        {% if error.name|length > 0 %}
                                        <p class="text-danger">{{ error.name|join('<br>') }}</p>
                                        {% endif %}
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        {{ form.email.label }}
                                        {{ form.email(class="form-control", placeholder="Email") }}
                                        {% if error.email|length > 0 %}
                                        <p class="text-danger">{{ error.email|join('<br>') }}</p>
                                        {% endif %}
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        {{ form.subject.label }}
                                        {{ form.subject(class="form-control", placeholder="Subject") }}
                                        {% if error.subject|length > 0 %}
                                        <p class="text-danger">{{ error.subject|join('<br>') }}</p>
                                        {% endif %}
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-4-->
                            </div>
                            <!--end row-->
                            <div class="form-group">
                                {{ form.message.label }}
                                {{ form.message(class="form-control", rows="4") }}
                                {% if error.message|length > 0 %}
                                <p class="text-danger">{{ error.message|join('<br>') }}</p>
                                {% endif %}
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary icon shadow">Send Message<i class="fa fa-caret-right"></i></button>
                            </div>
                            <!--end form-group-->
                        </form>
                    </div>
                    <!--end col-md-9-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>

{% endblock %}
