{% extends "layout.html" %}
{% block title %} - Credits{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Credits</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title">
                <h1>Credits</h1>
            </section>
            <!--end page-title-->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <section>
                        <p>This tool only exists thanks to (with random order):</p>
                        <ul>
                            <li><a href="https://themeforest.net/item/locations-multipurpose-directory-template/18536570">Locations</a> template</li>
                            <li><a href="https://thenounproject.com/gbeck419/">Greg Beck at the Noun Project</a> for the logo</li>
                            <li><a href="https://developers.google.com/maps/">Google Maps API</a> for all the map actions</li>
                            <li><a href="https://github.com/googlemaps/js-rich-marker">Richmarker</a></li>
                            <li><a href="https://github.com/googlemaps/js-marker-clusterer">Marker Cluster</a></li>
                            <li><a href="https://github.com/googlemaps/v3-utility-library/tree/master/infobox">Infobox</a></li>
                            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                            <li><a href="https://jquery.com/">jQuery</a></li>
                            <li><a href="http://fontawesome.io/">Fontawesome</a></li>
                            <li><a href="https://owlcarousel2.github.io/OwlCarousel2/">Owl Carousel 2</a></li>
                            <li><a href="http://www.daterangepicker.com/">Date Range Picker</a></li>
                            <li><a href="https://github.com/jnicol/trackpad-scroll-emulator">Trackpad Scroll Emulator</a></li>
                            <li><a href="https://selectize.github.io/selectize.js/">Selectize</a></li>
                            <li><a href="https://jqueryui.com/">jQuery UI</a></li>
                            <li><a href="https://github.com/jquery/jquery-migrate">jQuery migrate</a></li>
                            <li><a href="http://bootstraptour.com/">Bootstrap Tour</a></li>
                            <li><a href="https://silviomoreto.github.io/bootstrap-select/">Boostrap Select</a></li>
                            <li><a href="https://jqueryvalidation.org/">jQuery Validation</a></li>
                            <li><a href="https://github.com/js-cookie/js-cookie">jQuery Cookie</a></li>
                            <li><a href="http://icheck.fronteed.com/">iCkeck</a></li>
                            <li><a href="https://momentjs.com/">Moment.js</a></li>
                            <li><a href="http://github.hubspot.com/pace/docs/welcome/">Pace</a></li>
                        </ul>
                        <p>And the backend is using (with random order):</p>
                        <ul>
                            <li><a href="http://flask.pocoo.org/">Flask</a></li>
                            <li><a href="https://flask-login.readthedocs.io/en/latest/">Flask-Login</a></li>
                            <li><a href="http://flask-sqlalchemy.pocoo.org/2.1/">Flask-SQLAlchemy</a></li>
                            <li><a href="https://flask-migrate.readthedocs.io/en/latest/">Flask Migrate</a></li>
                            <li><a href="https://flask-bcrypt.readthedocs.io/en/latest/">Flask BCrypt</a></li>
                            <li><a href="http://flask-wtf.readthedocs.io/en/stable/index.html">Flask WTF</a></li>
                            <li><a href="https://flask-script.readthedocs.io/en/latest/">Flask Script</a></li>
                            <li><a href="https://pythonhosted.org/Flask-Gravatar/">Flask-Gravatar</a></li>
                            <li><a href="https://flask-admin.readthedocs.io/en/latest/">Flask Admin</a></li>
                            <li><a href="http://www.celeryproject.org/">Celery</a></li>
                            <li><a href="https://redis.io/">Redis</a></li>
                            <li><a href="http://pythonhosted.org/itsdangerous/">itsdangerous</a></li>
                            <li><a href="http://docs.python-requests.org/en/master/">Requests</a></li>
                            <li><a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a></li>
                            <li><a href="https://www.sqlite.org/">SQLite</a></li>
                            <li><a href="http://gunicorn.org/">Gunicorn</a></li>
                            <li><a href="http://supervisord.org/">Supervisor</a></li>
                            <li><a href="https://nginx.org/">nginx</a></li>
                            <li><a href="http://www.debian.org/">Debian</a></li>
                            <li>Everything is running on a VPS hosted by <a href="https://www.ovh.com/">OVH</a></li>
                        </ul>
                    </section>
                    <section>
                        <p>Last updated: july, 2017</p>
                    </section>
                </div>
                <!--end col-md-12-->

            </div>
            <!--end row-->
        </div>

{% endblock %}
