{% extends "layout.html" %}
{% block body %}
        <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-8 homeblock">
                <div class="homeblocktext">
                    <p align="center"><img class="img-responsive" src="{{ url_for('static', filename='img/homelogo.png') }}"><br></p>
                    <p class="homepunchline"><b>Explore places and time</b><br>Travelers, digital nomads, photographers, hospitality professionals: we all like to keep track of our travel history.</p>
                    <hr>
                    <div class="col-md-6 col-sm-6">
                        <div class="text-element">
                            <h4><i class="fa fa-search fa-2x" aria-hidden="true"></i> Explore a place back in time</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="text-element">
                            <h4><i class="fa fa-comments fa-2x" aria-hidden="true"></i> Leave comment in time & place</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="text-element">
                            <h4><i class="fa fa-map fa-2x" aria-hidden="true"></i> Recount your story on a map</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="text-element">
                            <h4><i class="fa fa-globe fa-2x" aria-hidden="true"></i> Keep track of your travels</h4>
                        </div>
                    </div>
                </div>
                <div class="background-wrapper">
                    <div class="bg-transfer opacity-25">
                        <img src="{{ url_for('static', filename='img/backhome.png') }}" alt="">
                    </div>
                </div>
                <!--end background-wrapper-->
              </div>
              <div class="col-md-4 col-sm-4">
                <form class="form inputs-underline" method="POST" action="{{ url_for('tntuser.register') }}" id="registration_form">
                    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class="form-control") }}
                        {% if error.email %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ error.email|join('<br>') }}
                        </div>
                        {% endif %}
                    </div>
                    <!--end form-group-->
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control") }}
                        {% if error.password %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ error.password|join('<br>') }}
                        </div>
                        {% endif %}
                    </div>
                    <!--end form-group-->
                    <div class="form-group">
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class="form-control") }}
                        {% if error.confirm_password %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ error.confirm_password|join('<br>') }}
                        </div>
                        {% endif %}
                    </div>
                    <!--end form-group-->
                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary width-100">Register Now</button>
                    </div>
                    <!--end form-group-->
                </form>

                <hr>

                <p class="center note">By clicking on “Register Now” button you are accepting the <a href="{{ url_for('tntpage.show_terms') }}" class="underline">Terms of Use</a></p>
                <!--end form-->
              </div>
            </div>
        </div>
{% endblock %}
