{% extends "layout.html" %}
{% block title %} - Privacy policy{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Privacy policy</p></li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title">
                <h1>Privacy Policy</h1>
            </section>
            <!--end page-title-->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <section>
                        <p>This is the privacy policy ("<b>Privacy Policy</b>") that governs how we, The Flying trout ("<b>There and then</b>", "<b>we</b>", "<b>our</b>" or "<b>us</b>"), use Personal Information (defined below) that we collect, receive and store about individuals in connection with the use of the website <a href="https://therenthen.co">https://therenthen.co</a>, and any other website that we operate (each, together with its sub-domains, content and services, a "<b>Site</b>"). <b>There and then may choose to engage third party providers to provide cloud or hosting services. This means that data you provide us or that we collect from you (including any Personal Information, as defined below) – as further described in this Privacy Policy – may be hosted with such third party service providers on servers that they own or control. Regardless of where such third party service providers are located (and some may be located in the US), their servers may be located anywhere in the world (including the US). Your data may even be replicated across multiple servers located in multiple countries. So please be aware that you are consenting to your data being transferred to various third party service providers around the world (including the US).</b></p>
                    </section>
                    <section>
                        <h2>Privacy</h2>
                        <p>We have implemented this Privacy Policy because your privacy, and the privacy of other users, is important to us. This Privacy Policy explains our online information practices and the choices you can make about the way your Personal Information is collected and used in connection with the Site. "<b>Personal Information</b>" means any information that may be used, either alone or in combination with other information, to personally identify an individual, including, but not limited to, a first and last name, a personal profile, an email address, a home or other physical address, or other contact information.</p>
                    </section>
                    <section>
                        <h2>Terms of Use</h2>
                        <p>This Privacy Policy forms part of our <a href="{{ url_for('tntpage.show_terms') }}">Terms of Use</a> ("<b>Terms</b>"). Any capitalized but undefined term in this Privacy Policy shall have the meaning given to it in the Terms.</p>
                    </section>
                    <section>
                        <h2>Consent and Modification</h2>
                        <p>You are not legally obligated to provide us Personal Information, and you hereby confirm that providing us Personal Information is at your own free will. By using the Site, you consent to the terms of this Privacy Policy and to our collection, processing and sharing of Personal Information for the purposes set forth herein. If you do not agree to this Privacy Policy, please do not access or otherwise use the Site. We reserve the right, at our discretion, to change this Privacy Policy at any time. Such change will be effective ten (10) days following posting of the revised Privacy Policy on the Site, and your continued use of the Site thereafter means that you accept those changes.</p>
                    </section>
                    <section>
                        <h2>What Personal Information We Collect and How We Collect It</h2>
                        <p>We do not currently require you to provide Personal Information in order to have access to general information available on the Site. But, we do receive and/or collect Personal Information from you in the following ways:
                        <ul>
                            <li><p>Account: In order to be able to use the Site as a Contributor or to customize the content or frequency of emails which you are receiving from us, you may be required to create an account ("<b>Account</b>"). If you choose not to create an Account, you will not be able to access or use these features of the Site. We offer different options to create an Account, including:</p>
                            <ul>
                                <li><p>Online Registration Form: You may choose to complete and submit an online registration form. You will be asked to provide us with your full name and email address and to create a password that you will use for your Account.</p></li>
                                <li><p>Third Party Accounts: You may choose to create an Account by clicking on a 'sign-in' button that we display on the Site for a designated third party website or service (each a "<b>Third Party Account</b>"), such as Facebook or Twitter. Doing so will enable you to link your Account and your Third Party Account. If you choose this option, then you will be required to approve the connection as well as the types of information (which may include Personal Information) that we will obtain from your Third Party Account and the types of activities that we may perform in connection with your Third Party Account. Please note that in order to use this option, you will need to have, and may need to be signed-in to, an existing Third Party Account.</p></li>
                            </ul>
                            <p>Regardless of which method you choose to register your Account, we may send an email to your nominated email address to instruct you how to confirm your registration.</p></li>
                            <li><p>'Contact Us' Information: If you contact us by sending an email to an email address that we display, you may be required to provide us with certain information such as your name and email address.</p></li>
                            <li><p>Log Files: We may make use of log files. The information inside the log files includes Internet Protocol (IP) addresses, type of browser, Internet Service Provider (ISP), date/timestamp, referring/exit pages, clicked pages and any other information your browser may send to us. We may use such information to analyze trends, administer the Site, track users' movement around the Site, and gather demographic information.</p></li>
                            <li><p>Cookies and Other Tracking Technologies: Our Site may utilize "cookies", anonymous identifiers and other tracking technologies in order to for us to provide our Site and present you with information that is customized for you. A "cookie" is a small text file that may be used, for example, to collect information about activity on the Site. Certain cookies and other technologies may serve to recall Personal Information, such as an IP address, previously indicated by a user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them. You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser.</p></li>
                            <li><p>Analytics Services: The Site may use the tools described below (the "<b>Analytics Services</b>") to collect information about use of the Site, such as how often users visit this site, what pages they visit when they do so, and what other sites they used prior to coming to this Site. We may disclose personally identifiable information to such Analytics Services providers for the sole purpose of the provision of Analytics services to us. We use the information we get from the Analytics Services to maintain and improve the Site and our products. Analytics Services which we use include:
                            <ul>
                                <li><p>Google Analytics: We do not combine the information collected through the use of Google Analytics with personally identifiable information. Google's ability to use and share information collected by Google Analytics about your visits to this Site is restricted by the <a href="http:// www.google.com/analytics/terms/us.html">Google Analytics Terms of Service</a>, and the <a href="http://www.google.com/policies/privacy/">Google Privacy Policy</a>. You may learn more about how Google collects and processes data specifically in connection with Google Analytics <a href="http:// www.google.com/policies/privacy/partners/">here</a>. You may prevent your data from being used by Google Analytics by downloading and installing the <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics Opt-out Browser Add-on</a>.</p></li>
                            </ul>
                            </p></li>
                        </ul>
                        </p>
                    </section>
                    <section>
                        <h2>Publicly Available Information</h2>
                        <p>Any content that you post on or via the Site ("<b>User Submissions</b>") may be publicly available to other Site users, and may also be accessed and used by people off the Site. The notices and tools that we provide on the Site are intended to inform you which information will be made publicly available. If you publish your contact information in any User Submissions or as part of your Public Profile, you may receive unsolicited messages from other users of the Site or the public. Sending unsolicited commercial communications is prohibited under our Terms of Use but we cannot prevent it or shall not be liable in the event other users violate this prohibition. We, therefore, encourage you only to post information that you are sure you want to be accessible to anyone.</p>
                    </section>
                    <section>
                        <h2>The Way We Use Personal Information</h2>
                        <p>If you submit or we collect Personal Information through the Site, then we may use such Personal Information in the following ways, by e-mail only:
                        <ul>
                            <li><p>We will use your Personal Information (i) to contact you in connection with the Site, particularly regarding improvements and new features of the Site, (ii) to update you about content on Maps which you have contributed towards, (iii) to identify and authenticate your access to the parts of the Site that you are authorized to access, and (iv) to respond to a "Contact Us" or administrative request (for example, to change your password). You will also be contacted with confirmation of whether User Submissions you have tried to upload to the Site have been accepted or rejected by There and then or Map Owners.</p></li>
                            <li><p>We may transfer your Personal Information to our local or foreign subsidiaries or affiliated companies for the purpose of storing or processing such information on our behalf. Such information may be transferred to other countries. We require that these parties agree to process such information in compliance with our Privacy Policy.</p></li>
                            <li><p>We may share your Personal Information with our third party service providers and partners, but only to assist us with our business operations and to provide our Site to you and other users. Such information may be transferred to other countries. We use commercially reasonable efforts to only engage or interact with third party service providers and partners that post a privacy policy governing their processing of Personal Information.</p></li>
                            <li><p>We may disclose your Personal Information or any information you submitted via the Site if we have a good faith belief that disclosure of such information is helpful or reasonably necessary to: (i) comply with any applicable law, regulation, legal process or governmental request; (ii) enforce our Terms, including investigations of potential violations thereof; (iii) detect, prevent, or otherwise address fraud or security issues; or (iv) protect against harm to the rights, property or safety of There and then, our users, yourself or the public.</p></li>
                        </ul></p>
                    </section>
                    <section>
                        <h2>Use of Anonymous Information</h2>
                        <p>We may use Anonymous Information (as defined below) or disclose it to third party service providers in order to improve our Site and enhance your experience with the Site. We may also disclose Anonymous Information (with or without compensation) to third parties, including advertisers and partners. "<b>Anonymous Information</b>" means information which does not enable identification of an individual user, such as aggregated information about the use of our Site.</p>
                    </section>
                    <section>
                        <h2>Opting Out</h2>
                        <p>You may choose not to receive future emails from us by selecting an unsubscribe link at the bottom of each email that we send. Please note that even if you opt out of receiving the foregoing emails, we may still send you a response to any "Contact Us" request as well as administrative emails (for example, in connection with a password reset request) that are necessary to facilitate your use of the Site.</p>
                    </section>
                    <section>
                        <p>At all times, you may choose whether or not to provide or disclose Personal Information. If you choose not to provide mandatory Personal Information, you may still visit parts of the Site, but you may be unable to access certain options, programs, offers, and services that involve our interaction with you.</p>
                    </section>
                    <section>
                        <h2>Access/Accuracy</h2>
                        <p>To the extent that you do provide us with Personal Information, we wish to maintain accurate Personal Information. If you would like to delete or correct any of your other Personal Information that we may be storing, you may submit an access request by sending <a href="mailto:hello@therenthen.co">an email</a>. Your email should include adequate details of your request.</p>
                    </section>
                    <section>
                        <h2>Links to and Interaction with Third Party Products</h2>
                        <p>The Site enables you to interact with or contain links to your Third Party Account and other third party websites, mobile software applications and services that are not owned or controlled by us, including all those featured in the Maps (each a “Third Party Service”). We are not responsible for the privacy practices or the content of such Third Party Services. Please be aware that Third Party Services may collect Personal Information from you. Accordingly, we encourage you to read the terms and conditions and privacy policy of each Third Party Service that you choose to use or interact with.</p>
                    </section>
                    <section>
                        <h2>Children’s Privacy</h2>
                        <p>The Site is not structured to attract children under the age of 13 years. Accordingly, we do not intend to collect Personal Information from anyone we know to be under 13 years. If we learn that we have collected Personal Information from a child under 13 years, we will delete that information as quickly as possible. If you believe that we might have any such information, please <a href="mailto:hello@therenthen.co">contact us</a>.</p>
                    </section>
                    <section>
                        <p>The security of Personal Information is important to us. We follow generally accepted industry standards, including the use of appropriate administrative, physical and technical safeguards, to protect the Personal Information submitted to us. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to use reasonable acceptable means to protect your Personal Information, we cannot guarantee its absolute security or confidentiality. If you have any questions about security on the Service, you can <a href="mailto:hello@therenthen.co">contact us</a>.</p>
                    </section>
                    <section>
                        <h2>Merger, Sale or Bankruptcy</h2>
                        <p>In the event that we are acquired by or merged with a third party entity, or in the event of bankruptcy or a comparable event, we reserve the right to transfer or assign Personal Information in connection with the foregoing events.</p>
                    </section>
                    <section>
                        <p>We are committed to protecting your privacy. Protecting your privacy online is an evolving area, and we are constantly evolving our Service to meet these demands. If you have any comments or questions regarding our Privacy Policy, or your Personal Information that we may be storing and using, please <a href="mailto:hello@therenthen.co">contact us</a>.</p>
                    </section>
                    <section>
                        <p>Last updated: july, 2017</p>
                    </section>
                </div>
                <!--end col-md-12-->

            </div>
            <!--end row-->
        </div>

{% endblock %}
