{% extends "layout.html" %}
{% block title %} - Terms of use{% endblock %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Terms of Use</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title">
                <h1>Terms of Use</h1>
            </section>
            <!--end page-title-->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <section>
                        <h2>Welcome to There and Then!</h2>
                        <p>Welcome to therenthen.co (together with its subdomains, Content, Marks and services, the "<b>Site</b>"). Please read the following Terms of Use carefully before using this Site so that you are aware of your legal rights and obligations with respect to The Flying Trout. ("<b>There and then</b>", "<b>we</b>", "<b>our</b>" or "<b>us</b>"). By accessing or using the Site, you expressly acknowledge and agree that you are entering a legal agreement with us and have understood and agree to comply with, and be legally bound by, these Terms of Use, together with the <a href="{{ url_for('tntpage.show_privacy') }}">Privacy Policy</a> (the "<b>Terms</b>"), whether you are a "<b>Visitor</b>" (which means that you are only browsing the Site) or you are a "Contributor" or a "Publisher" (both as defined below, and which mean that you have registered with the Site). The term "<b>User</b>" or "<b>you</b>" refers to a Visitor, a Contributor or a Publisher. You hereby waive any applicable rights to require an original (non-electronic) signature or delivery or retention of non-electronic records, to the extent not prohibited under applicable law. If you do not agree to be bound by these Terms please do not access or use the Site.</p>
                    </section>
                    <section>
                        <h2>Background</h2>
                        <p>The Site is intended to provide a software-as-a-service (SAAS) platform (the "<b>Platform</b>") for users ("<b>Publishers</b>") to create interactive maps and content ("<b>Maps and Post</b>") and make the same available for viewing by third parties via the Site and/or other websites that link to the Site. In some cases, the Publisher may configure a particular Map and Posts to enable contributions of content by other registered users ("<b>Contributors</b>") of their own content or content from other Publishers or from Third Party Sources (as defined below) ("<b>Third Party Map Content</b>"). Once approved by the Publisher of a Map and Posts, the Third Party Map Content incorporated therein forms part of that Map and Posts and can be viewed, accessed, linked to, and easily reached by other Site's users. Such Third Party Map Content will also become part of the There and then database which There and then will use to provide details to assist Contributors and Publishers in populating other Maps and Posts.</p>
                    </section>
                    <section>
                        <h2>Modification</h2>
                        <p>We reserve the right, at our discretion, to change these Terms at any time. Such change will be effective ten (10) days following posting of the revised Terms on the Site, and your continued use of the Site thereafter means that you accept those changes.</p>
                    </section>
                    <section>
                        <h2>Ability to Accept Terms</h2>
                        <p>The Site is only intended for individuals aged thirteen (13) years or older. If you are under 13 years please do not visit or use the Site. If you are between 13 and 18 years of age, then you must review these Terms with you parent or guardian before visiting or using the Site to make sure that you and your parent or guardian understand these Terms and agree to them.</p>
                    </section>
                    <section>
                        <h2>Site Access</h2>
                        <p>For such time as these Terms are in effect, we hereby grant you permission to visit and use the Site provided that you comply with these Terms and applicable law.</p>
                    </section>
                    <section>
                        <h2>Restrictions</h2>
                        <p>You shall not: (i) copy, distribute or modify any part of the Site without our prior written authorization; (ii) use, modify, create derivative works of, transfer (by sale, resale, license, sublicense, download or otherwise), reproduce, distribute, display or disclose Content (defined below), except as expressly authorized herein; (iii) disrupt servers or networks connected to the Site; (iv) use or launch any automated system (including without limitation, "robots" and "spiders") to access or scrape data from the Site; and/or (v) circumvent, disable or otherwise interfere with security-related features of the Site or features that prevent or restrict use or copying of any Content or that enforce limitations on use of the Site.</p>
                    </section>
                    <section>
                        <h2>Account</h2>
                        <ul>
                            <li><p>In order to become a Contributor or a Publisher, or to customize the content or frequency of emails which you are receiving from us, you have to create an account ("Account"). You agree not to create an Account for anyone else or use the account of another without their permission. There and then reserves the right to refuse a registration request for any reason. You are solely responsible for the activity that occurs in and in connection with your Account, and you must keep your Account password secure. You must notify There and then immediately of any breach of security or unauthorized use of your Account. If you wish to delete your Account you may send an email request to <a href="mailto:hello@therenthen.co">There and then</a></p></li>
                            <li><p>You agree that once you have registered an Account, There and then may send you information and notices regarding the Maps and Stories and your Account by email.</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Charges and payment</h2>
                        <ul>
                            <li><p>Some of the Platform use require payment. We may charge your credit card on an ongoing basis in advance of providing Services or as needed for prepayments for your subscription fee, any applicable sales taxes, and any other charges you may incur in connection with your use of There and then.</p></li>
                            <li><p>The subscription fee is billed in full on the first day of each billing period, unless and until you cancel your subscription.</p></li>
                            <li><p>We are not responsible for any bank fees, interest charges, finance charges, over draft charges, or other fees resulting from charges billed by There and then. Currency exchange settlements will be based on agreements between you and the provider of your credit card.</p></li>
                            <li><p>All charges are non-refundable unless expressly stated otherwise, or otherwise provided by applicable law.</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Monetization</h2>
                        <p>There and then and Publisher may agree from time to time on manners of monetization or other commercialization of the Maps and Stories and associated content, such as by delivery of advertisements, promotional referral arrangements, etc. Any such agreement requires a prior written agreement between the parties (a "Monetization Agreement"). Except as otherwise specified in a fully executed Monetization Agreement, Publishers may not commercialize the Platform or any Maps and Stories content in any way that requires, contemplates, or otherwise triggers a payment of fees or other consideration of any kind from any third party (such as display of any advertisements or using or posting any Maps and Stories content in any manner that, which may refer visitors to websites of others, etc. Under no circumstances may Publisher, using the Platform, place any Ads without the prior written consent and approval of There and then.</p>
                    </section>
                    <section>
                        <h2>Intellectual Property Rights</h2>
                        <ul>
                            <li><p><b>Content and Marks</b>: The (i) content on the Site, including without limitation, the text, documents, articles, brochures, descriptions, products, software, graphics, photos, sounds, videos, interactive features, and services (collectively, the "Materials"), (ii) and User Submissions, as defined below (together with the Materials, the "Content"), and (iii) the trademarks, service marks and logos contained therein ("Marks"), are the property of There and then and/or its licensors and may be protected by applicable copyright or other intellectual property laws and treaties. "There and then", the There and then logo, and other marks are Marks of There and then or its affiliates. All other trademarks, service marks, and logos used on the Site are the trademarks, service marks, or logos of their respective owners. We reserve all rights not expressly granted in and to the Site and the Content.</p></li>
                            <li><p><b>Use of Content</b>: Content on the Site is provided to you for your information and personal use only, including for contributing to Maps and Stories on the Site, and may not be used, modified, copied, distributed, transmitted, broadcast, displayed, sold, licensed, de-compiled, or otherwise exploited for any other purposes whatsoever (other than those set out in the Terms) without our prior written consent. If you download, export or print a copy of the Content you must retain all copyright and other proprietary notices contained therein</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Third Party Sources and Content</h2>
                        <ul>
                            <li><p>Contributors and Publishers may upload Third Party Map Content from Third Party Sources to Maps and Stories on the Site which enable you to view, access, link to, and use content from third party websites and services that are not owned or controlled by us. Contributors and Publishers acknowledge that, once uploaded, There and then may re-use such Third Party Map Content to assist other Contributors and Publishers by suggesting details to populate other Maps and Stories.</p></li>
                            <li><p>We are not affiliated with and have no control over any Third Party Sources. We do not assume any responsibility for the terms of use, privacy policies, actions or practices of, any Third Party Sources or for the content of any Third Party Sources, when first uploaded by the original Contributor or original Publisher, or when replicated by There and then in other Maps and Stories. Please read the terms of use and privacy policy of any Third Party Source that you interact with before you engage in any such activity</p></li>
                            <li><p>We are not responsible for, and we expressly disclaim all warranties regarding, the accuracy, appropriateness, usefulness, safety, or Intellectual Property Rights (defined below) of, or relating to, any Third Party Map Content.</p></li>
                            <li><p>We do not endorse any advertising, promotions, campaigns, products, services or other materials that is included in any Third Party Map Content or that is communicated to you from a Third Party Source.</p></li>
                            <li><p>By using the Site you may be exposed to Third Party Map Content that is inaccurate, offensive, indecent, or objectionable. You always have the choice of deciding whether or not to interact with a Third Party Source or to view and use Third Party Map Content. Your interaction with a Third Party Source and your use of, and reliance upon, any Third Party Map Content is at your sole discretion and risk.</p></li>
                            <li><p>You are solely responsible and liable for your interaction with a Third Party Source. You agree to waive, and hereby do waive, any legal or equitable rights or remedies you may have against There and then , and release There and then from any and all liability, arising from your use of and interaction on any Third Party Map Content and from your interaction with any Third Party Source. If you have any query or complaint regarding a Third Party Source or any Third Party Map Content, you agree to contact the Third Party Source directly.</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>User Submissions</h2>
                        <ul>
                            <li><p><b>Responsibility</b>: If you have created an Account, the Site permits you (and other Publishers and Contributors) to submit, host, share and publish Content, either by creating a new Map or adding to an existing Map ("User Submissions"). You understand that whether or not such User Submissions are published, we do not guarantee any confidentiality with respect to any User Submissions. You shall be solely responsible for your User Submissions and the consequences of posting, publishing or uploading them. We have complete discretion whether to publish your User Submissions and we reserve the right in our sole discretion and without further notice to you, to monitor, censor, edit, remove, delete, and/or remove any and all Content posted on the Site (including User Submissions, which may include a Map in its entirety) at any time and for any reason. If you are a Contributor, you acknowledge that it is at the discretion of the Publisher whether to accept or reject your User Submission in relation to that particular Map and that they are have the right to remove your User Submission from their Map at any time.</p></li>
                            <li><p><b>Ownership</b>: You represent and warrant that you own or have the necessary rights and permissions to use and authorize There and then to use all Intellectual Property Rights (defined below) in and to your User Submissions, and to enable inclusion and use thereof as contemplated by the Site and these Terms. Unless the User Submissions are separately referred to, all references herein to Content shall include references to User Submissions. "<b>Intellectual Property Rights</b>" means any and all rights, titles and interests, whether foreign or domestic, in and to any and all trade secrets, patents, copyrights, service marks, trademarks, know-how, or similar intellectual property rights, as well as any and all moral rights, rights of privacy, publicity and similar rights of any type under the laws or regulations of any governmental, regulatory, or judicial authority, foreign or domestic. You retain all of your ownership rights in and to your User Submissions.</p></li>
                            <li><p><b>License to User Submissions</b>: By submitting the User Submissions to There and then , you hereby grant There and then a worldwide, irrevocable, non-exclusive, royalty-free, perpetual, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the User Submissions, including without limitation to redistribute part or all of your User Submissions (and derivative works thereof) in any media formats and through any media channels, including by embedding the Maps and Stories in other websites, for any purpose whatsoever and, and you hereby waive any moral rights in your User Submissions, to the extent permitted by law. You also hereby grant each user of the Site or other viewer or user of the User Submission a non- exclusive right to use, reproduce, distribute, prepare derivative works of, display and perform such User Submissions, including by embedding the Maps and Stories in other websites, for personal use and reference only, all in accordance with these Terms. In particular, you grant Contributors and Publishers the right to add such User Submissions to other Maps and Stories on the Site. You also grant Publishers the right to export a copy of all data, including all User Submissions, in the Maps and Stories they own.</p></li>
                            <li><p><b>Prohibited Content</b>: You agree that you will not display, post, submit, publish, upload or transmit a User Submission that: (i) is unfair or deceptive under the consumer protection laws of any jurisdiction; (ii) is copyrighted, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights; (iii) creates a risk to a person's safety or health, creates a risk to public safety or health, compromises national security, or interferes with an investigation by law enforcement; (iv) impersonates another person; (v) promotes illegal drugs, violates export control laws, relates to illegal gambling, or illegal arms trafficking; (vi) is unlawful, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, gives rise to civil liability, violates any law, or is inappropriate; (vii) constitutes theft or terrorism; or (viii) is otherwise malicious or fraudulent.</p></li>
                            <li><p><b>Exposure</b>: You understand and acknowledge that when accessing and using the Site: (i) you will be exposed to User Submissions from a variety of sources, and that There and then is not responsible for the accuracy, usefulness, safety, or Intellectual Property Rights of, or relating to, such User Submissions; and (ii) you may be exposed to User Submissions that are inaccurate, offensive, indecent, or objectionable. You hereby agree to waive, and hereby do waive, any legal or equitable rights or remedies you may have against There and then with respect to (i) and (ii) herein.</p></li>
                            <li><p><b>Spam</b>: You agree not to, and will not, use the communications systems provided by the Site to send unauthorized commercial communications or to send unsolicited communications to third parties who are contactable through the Site (other than such communications as would reasonably be expected through use of the Site), and you shall be solely responsible and liable for any such unauthorized communications.</p></li>
                            <li><p><b>Contact</b>: You acknowledge that when you publish User Submissions, you are enabling users of the Site to contact you through the 'Contact' tool which can be accessed through the Content you have submitted into a Map (if you are a Contributor) or the Map you have created (if you are a Publisher).</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Information Description</h2>
                        <p>We attempt to be as accurate as possible. However, we cannot and do not warrant that the Content available on the Site is accurate, complete, reliable, current, or error-free. We reserve the right to make changes in or to the Content, or any part thereof, in our sole judgment, without the requirement of giving any notice prior to or after making such changes to the Content. Your use of the Content, or any part thereof, is made solely at your own risk and responsibility.</p>
                    </section>
                    <section>
                        <h2>Disclosure</h2>
                        <p>We reserve the right to access, read, preserve, and disclose any information that we obtain in connection with the Site, and your use thereof, as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process, subpoena or governmental request, (ii) enforce the Site Terms, including to investigate potential violations of them, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of There and then , its users or the public.</p>
                    </section>
                    <section>
                        <h2>Links</h2>
                        <ul>
                            <li><p>The Site contains links, and enables you to post content, to third party websites that are not owned or controlled by There and then . We are not affiliated with, have no control over, and assume no responsibility for the content, privacy policies, or practices of, any third party websites. You: (i) are solely responsible and liable for your use of and linking to third party websites and any content that you may send or post to a third party website; and (ii) expressly release There and then from any and all liability arising from your use of any third party website. Accordingly, we encourage you to read the terms and conditions and privacy policy of each third party website that you may choose to visit.</p></li>
                            <li><p>There and then permits you to link to the Site and to embed the Maps and Stories in other websites and locations provided that: (i) you link to but do not replicate any page on this Site other than to the extent this naturally occurs when you embed the Maps and Stories using the tool provided on the Site; (ii) the hyperlink text shall accurately describe the Content as it appears on the Site; (iii) you shall not misrepresent your relationship with There and then or present any false information about There and then and shall not imply in any way that we are endorsing any services or products, unless we have given you our express prior consent; (iv) you shall not link from a website that you do not own or have the right to link from; (v) your website, and domain name, does not contain content that (a) is offensive or controversial (both at our discretion), or (b) infringes any intellectual property, privacy rights, or other rights of any person or entity; and/or (vi) you, and the website from which you are linking, comply with these Terms and applicable law.</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Privacy</h2>
                        <p>We will use any personal information that we may collect or obtain in connection with the Site in accordance with our <a href="{{ url_for('tntpage.show_privacy') }}">Privacy Policy</a>. You agree that we may use personal information that you provide or make available to us in accordance with the Privacy Policy.</p>
                    </section>
                    <section>
                        <h2>Copyright Policy</h2>
                        <p>It is our policy to respect the legitimate rights of copyright and other intellectual property owners, and we will respond to clear notices of alleged copyright infringement in accordance with our <a href="{{ url_for('tntpage.show_terms') }}">Copyright and Content Policy</a></p>
                    </section>
                    <section>
                        <h2>Warranty Disclaimers</h2>
                        <ul>
                            <li><p>This section applies whether or not the services provided under the Site are for payment. Applicable law may not allow the exclusion of certain warranties, so to that extent certain exclusions set forth herein may not apply.</p></li>
                            <li><p>The site is provided on an "as is" and "as available" basis, and without warranties of any kind either express or implied. There and then hereby disclaims all warranties, express or implied, including but not limited to implied warranties of merchantability, title, fitness for a particular purpose, non- infringement, and those arising by statute or from a course of dealing or usage of trade. There and then does not guarantee that the site will be free of bugs, security breaches, or virus attacks. The Site may occasionally be unavailable for routine maintenance, upgrading, or other reasons. You agree that there and then  will not be held responsible for any consequences to you or any third party that may result from technical problems of the internet, slow connections, traffic congestion or overload of our or other servers. We do not warrant, endorse or guarantee any content, product, or service that is featured or advertised on the site by a third party.</p></li>
                            <li><p>There and then does not warrant, endorse or guarantee any content that appears in a user submission, and does not make any representation or warranty with respect to, and disclaims all liability for, any such content.</p></li>
                            <li><p>You specifically acknowledge that there and then  shall not be responsible for the user submissions or conduct (including defamatory, offensive, illegal, or negligent conduct) of any site user and that the risk of harm or damage from the foregoing rests entirely with you.</p></li>
                            <li><p>Your reliance on, or use of, any user submission, or interaction with any Site user or owner, is at your sole risk. If you have a dispute with any Site user, Map Owner or Contributor in connection with the Site or any User Submission, you agree that There and then is not liable for any claims or damages arising out of or connected with such a dispute. There and then reserves the right, but has no obligation, to monitor any such dispute.</p></li>
                            <li><p>Except as expressly stated in our Privacy Policy, There and then does not make any representations, warranties or conditions of any kind, express or implied, as to the security of any information you may provide or activities you engage in during the course of your use of the Site.</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Limitation of Liability</h2>
                        <ul>
                            <li><p>To the fullest extent permissible by law, There and then shall not be liable for any direct, indirect, exemplary, special, consequential, or incidental damages of any kind, or for any loss of data, revenue, profits or reputation, arising under these terms or out of your use of, or inability to use, the Site, even if There and then has been advised of the possibility of such damages or losses. Some jurisdictions do not allow the limitation or exclusion of liability for incidental or consequential damages, so the above limitations may not apply to you.</p></li>
                            <li><p>In no event shall the aggregate liability of There and then for any damages arising under these Terms or out of your use of, or inability to use, the Site exceed the total amount of fees, if any, paid by you to There and then for using the site during the three (3) months prior to bringing the claim.</p></li>
                        </ul>
                    </section>
                    <section>
                        <h2>Indemnity</h2>
                        <p>You agree to defend, indemnify and hold harmless There and then and our affiliates, and our respective officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs and expenses (including but not limited to attorney's fees) arising from: (i) your use of, or inability to use, the Site; (ii) your User Submissions; (iii) your interaction with any Site user; or (iv) your violation of these Terms.</p>
                    </section>
                    <section>
                        <h2>Term and Termination</h2>
                        <p>These Terms are effective until terminated by There and then or you. There and then , in its sole discretion, has the right to terminate these Terms and/or your access to the Site, or any part thereof, immediately at any time and with or without cause (including, without any limitation, for a breach of these Terms). There and then shall not be liable to you or any third party for termination of the Site, or any part thereof. If you object to any term or condition of these Terms, or any subsequent modifications there to, or become dissatisfied with the Site in any way, your only recourse is to immediately discontinue use of the Site. Upon termination of these Terms, you shall cease all use of the Site. This Section and Sections "Intellectual Property Rights", "License to User Submissions", "Privacy", "Warranty Disclaimers", "Limitation of Liability", "Indemnity", and "Independent Contractors" to "General" shall survive termination of these Terms.</p>
                    </section>
                    <section>
                        <h2>Independent Contractors</h2>
                        <p>You and There and then are independent contractors. Nothing in these Terms creates a partnership, joint venture, agency, or employment relationship between you and There and then. You must not under any circumstances make, or undertake, any warranties, representations, commitments or obligations on behalf of There and then.</p>
                    </section>
                    <section>
                        <h2>Assignment</h2>
                        <p>These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you but may be assigned by There and then without restriction or notification to you.</p>
                    </section>
                    <section>
                        <h2>General</h2>
                        <p>There and then reserves the right to discontinue or modify any aspect of the Site at any time. These Terms and the relationship between you and There and then shall be governed by and construed in accordance with the laws of the State of Israel, without regard to its principles of conflict of laws. You agree to submit to the personal and exclusive jurisdiction of the courts located in Tel Aviv-Jaffa and waive any jurisdictional, venue, or inconvenient forum objections to such courts, provided that There and then may seek injunctive relief in any court of competent jurisdiction. These Terms shall constitute the entire agreement between you and There and then concerning the Site. If any provision of these Terms is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms, which shall remain in full force and effect. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and a party's failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision. You agree that any cause of action that you may have arising out of or related to the Site must commence within one (1) year after the cause of action accrues. Otherwise, such cause of action is permanently barred.</p>
                    </section>
                    <section>
                        <p>Last updated: july, 2017</p>
                    </section>
                </div>
                <!--end col-md-12-->

            </div>
            <!--end row-->
        </div>

{% endblock %}
