<div class="result-item" data-id="42">
    <a href="detail.html">
        <h3>Marky's Restaurant</h3>
        <div class="result-item-detail">
            <div class="image" style="background-image: url('static/img/items/1.jpg')">
            </div>
            <div class="description">
                <h5><i class="fa fa-map-marker"></i>63 Birch Street</h5>
                <div class="label label-default">Restaurant</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, arcu non hendrerit imperdiet, metus odio scelerisque elit, sed lacinia odio est ac felis. Nam ullamcorper hendrerit ullamcorper. Praesent quis arcu quis leo posuere ornare eu in purus. Nulla ornare rutrum condimentum. Praesent eu pulvinar velit. Quisque non finibus purus, eu auctor ipsum.</p>
            '</div>
        </div>
    </a>
    <div class="controls-more">
        <ul>
            <li><a href="#" class="add-to-favorites">Add to favorites</a></li>
            <li><a href="#" class="add-to-watchlist">Add to watchlist</a></li>
        </ul>
    </div>
</div>

<!-- 
<div class="result-item" data-id="'. $data[$i]['id'] .'">
    <figure class="ribbon">'. $data[$i]['ribbon'] .'</figure>
    <a href="'. $data[$i]['url'] .'">
        <h3>'. $data[$i]['title'] .'</h3>
        <div class="result-item-detail">
            <div class="image" style="background-image: url('. $data[$i]['gallery'][0] .')">
            </div>
            <div class="description">
                <h5><i class="fa fa-map-marker"></i>'. $data[$i]['location'] .'</h5>
                <div class="label label-default">'. $data[$i]['category'] .'</div>
                <p>'. $data[$i]['description'] .'</p>
            '</div>
        </div>
    </a>
    <div class="controls-more">
        <ul>
            <li><a href="#" class="add-to-favorites">Add to favorites</a></li>
            <li><a href="#" class="add-to-watchlist">Add to watchlist</a></li>
        </ul>
    </div>
</div>
 -->