{% extends "layout.html" %}
{% block body %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tntmap.show_map') }}">Home</a></li>
                <li class="active">Error</li>
            </ol>
            <!--end breadcrumb-->
            <section class="page-title center error">
                <h1>{{ error.code }}</h1>
                <h2>Error</h2>
                <h3>{{ error.description }}</h3>
                <p>Whoops, we encountered an error, that's embarassing. An email has been sent to <a href="mailto:support@therenthen.co">support@therenthen.co</a> to check it out!</p>
            </section>
        </div>
{% endblock %}
