﻿<!DOCTYPE html>

<html lang="en-US">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ gtm_key }}');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="The Flying Trout">
    <meta name="description" content="Explore places and time! Travelers, digital nomads, hospitality professionals: we all like to keep track of our travel history.">
    <meta name="keywords" content="there-n-then, there, then, places, time, traveler, digital nomad, hospitality professional, travel, instagram, poi, point of interest, photo, pictures">
    <meta name="og:title" content="There 'n Then{% block title %}{% endblock %}">
    <meta name="og:image" content="{{ url_for('static', filename='img/sharelogo.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16">

    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/elegant-fonts.css') }}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/trackpad-scroll-emulator/1.0.8/trackpad-scroll-emulator.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pace.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <title>There 'n Then{{ self.title() }}</title>

</head>

<body class="homepage">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_key }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-wrapper">
    <header id="page-header">
        <nav>
            <div class="left">
                <a href="{{ url_for('tntmap.show_map') }}" class="brand"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
            </div>
            <!--end left-->
            <div class="right">
                <div class="primary-nav has-mega-menu">
                    <ul class="navigation">
                        {% if user.is_authenticated %}
                        {% if user.username %}
                        <li><a href="{{ url_for('tntmap.show_map', username=user.username)| replace('%40', '@') }}" id="mymap">My Map</a></li>
                        {% else %}
                        <li><a href="#" data-modal-external-file="{{ url_for('tntuser.show_missing_username') }}" data-target="modal-missing-username" id="mymap">My Map</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('tntitem.show_items', page=1) }}">My TnT</a></li>
                        <li><a href="{{ url_for('tntuser.profile') }}">Profile</a></li>
                        {% endif %}
                    </ul>
                    <!--end navigation-->
                </div>
                <!--end primary-nav-->
                <div class="secondary-nav">
                    {% if user.is_authenticated %}
                    <a href="{{ url_for('tntuser.logout') }}">Logout</a>
                    {% else %}
                    <a href="#" data-modal-external-file="{{ url_for('tntuser.login') }}" data-target="modal-sign-in">Login</a>
                    <a href="{{ url_for('tntuser.register') }}" class="promoted">Register</a>
                    {% endif %}
                </div>
                <!--end secondary-nav-->
                {% if user.is_authenticated and user.is_social %}
                <a href="{{ url_for('tntitem.data_sync') }}" class="btn btn-primary btn-small btn-rounded icon shadow add-listing" onclick="clickAndDisable(this);" id="data_refresh"><i class="fa fa-refresh"></i><span>Sync content</span></a>
                {% endif %}
                <div class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
            <!--end right-->
        </nav>
        <!--end nav-->
    </header>
    <!--end page-header-->

    <div id="page-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="footer-wrapper">
            <div class="footer-navigation">
                <div class="container">
                    <div class="vertical-aligned-elements">
                        <div class="element width-50">Straight outta the river - <a href="https://the-flying-trout.com/" target="_blank">The Flying Trout</a>
                        <a href="https://twitter.com/ThereNThen" class="circle-icon"><i class="social_twitter"></i></a>
                        <a href="https://www.linkedin.com/company-beta/11043123" class="circle-icon"><i class="social_linkedin"></i></a>
                        </div>
                        <div class="element width-50 text-align-right">
                            <a href="{{ url_for('tntpage.show_home') }}">Home</a>
                            <a href="{{ url_for('tntpage.show_contact') }}">Contact</a>
                            <a href="{{ url_for('tntpage.show_terms') }}">Terms of Use</a>
                            <a href="{{ url_for('tntpage.show_privacy') }}">Privacy Policy</a>
                            <a href="{{ url_for('tntpage.show_credits') }}">Credits</a>
                            <a href="{{ url_for('tntopen.show_open') }}">Open</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ googlemaps_key }}&libraries=places"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/richmarker-compiled.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/markerclusterer_packed.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/infobox.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/trackpad-scroll-emulator/1.0.8/jquery.trackpad-scroll-emulator.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js'></script>
<script type="text/javascript">var myShareURL = "{{ base_url }}{% if user.username %}{{ url_for('tntmap.show_map', username=user.username)| replace('%40', '@') }}{% else %}{{ url_for('tntmap.show_map') }}{% endif %}"</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>

<script>
    var optimizedDatabaseLoading = 1;
    var constraintAuthor = "{{ constraintAuthor }}";
    var selfMap = {% if user.username == constraintAuthor %}true{% else %}false{% endif %};
    var automaticGeoLocation = {% if user.is_authenticated %}true{% else %}false{% endif %};
    var _latitude = 48.853421;
    var _longitude = 2.348785;
    var element = "map-homepage";
    var markerTarget = "modal"; // use "sidebar", "infobox" or "modal" - defines the action after click on marker
    var sidebarResultTarget = "modal"; // use "sidebar", "modal" or "new_page" - defines the action after click on marker
    var showMarkerLabels = false; // next to every marker will be a bubble with title
    var mapDefaultZoom = 14; // default zoom
    heroMap(_latitude,_longitude, element, markerTarget, sidebarResultTarget, showMarkerLabels, mapDefaultZoom, optimizedDatabaseLoading, constraintAuthor, selfMap, automaticGeoLocation);

    $(document).ready(function($) {
        if( $("#last_instasync").length ){
            updateLastSync("{{ url_for('tntitem.instagram_sync_status', task_id=session.instagram_sync_task_id) }}", $("#last_instasync"));
        };
        if( $("#last_unsplasync").length ){
            updateLastSync("{{ url_for('tntitem.unsplash_sync_status', task_id=session.unsplash_sync_task_id) }}", $("#last_unsplasync"));
        };
    });
</script>

</body>

